<div class="text-center mt-4">
    <a class="btn btn-xl btn-info" routerLink="/">
        VOLTAR
    </a>
</div>
<section class="turminha" id="turminha">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Turminha CBP</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-12">
              <p class="lead" align="justify">
                  Os personagens da Turminha da CBP, são baseados nos valores da Instituição e foram criados para se tornarem símbolo e uma lembrança viva no dia a dia para a comunidade escolar através de uma representação lúdica desses valores. Os nomes dos personagens foram escolhidos pelas próprias crianças, através da sugestão de nomes e depois na eleição dos favoritos. Conheça a turminha:  
              </p>
              <br>
              <p class="lead" align="justify">
                  A maçã está ligada ao valor do cuidado, e representa a preocupação que temos com a alimentação das crianças, não apenas prezando por alimentos saudáveis e bem preparados, mas sempre reforçando para as crianças a importância de fazer boas escolhas na hora de se alimentar.
              </p>
              <br>
              <p class="lead" align="justify">
                  O travesseiro também está ligado ao valor do cuidado, e representa a preocupação que temos com o bem estar das crianças. Buscando oferecer um ambiente limpo, arejado, agradável e confortável a todos. Também representa a importância do sono para o crescimento e desenvolvimento das crianças principalmente nesta faixa etária.
              </p>
              <br>
              <p class="lead" align="justify">
                  A casa está ligada aos valores do cuidado, inclusão, dedicação, diversidade e união. Escolhemos a casa porque também é símbolo de lar e a melhor maneira de sintetizar os valores mencionados. A CBP cuida para que cada escolha feita pela Instituição seja baseada na criança, garantindo a sua proteção e que o ambiente seja sempre alegre, unido e harmonioso. Também zelamos para que a criança se sinta incluída, respeitada e valorizada na sua diversidade e atendida com igualdade de direitos.
              </p>
              <br>
              <p class="lead" align="justify">
                  O coração está ligado aos valores de afeto, cuidado, dedicação e união. Acreditamos que sem amor nas ações, o conhecimento técnico se torna vazio, por isso, o afeto com as crianças, o respeito pelos parceiros de trabalho e o amor no que se faz é uma premissa básica da equipe CBP, sendo o pilar no atendimento oferecido.
              </p>
              <br>
              <p class="lead" align="justify">
                  O balão está ligado aos valores da diversidade, ao protagonismo e dentro da educação representa o lúdico, a brincadeira que é ponto chave na pedagogia da Educação Infantil. O balão também é símbolo de festa, de alegria, a melhor maneira de representar os valores mencionados. O balão nos lembra da importância de reforçar com as crianças a alegria da diversidade, a felicidade genuína de ser uma pessoa que se respeita e se ama exatamente como é. Além de garantir o direito da criança a inocência na infância, da imaginação sem limites, do brincar que é como a criança percebe o mundo a sua volta.
              </p>
              <br>
              <p class="lead" align="justify">
                  O livro está ligado aos valores da educação, autonomia, ética, profissionalismo e dedicação. Apesar do afeto ser a base das nossas ações, é preciso também oferecer um trabalho com excelência, buscando sempre rever práticas pedagógicas para garantir o melhor às crianças.
              </p>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/maca.png" alt="">
                  </a>
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/casa.png" alt="">
                  </a>
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/coracao.png" alt="">
                  </a>
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/balao.png" alt="">
                  </a>
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/livro.png" alt="">
                  </a>
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto">
                      <img class="img-fluid" src="assets/img/travesseiro.png" alt="">
                  </a>
              </div>
          </div>
        </div>
    </div>
</section>