<div class="text-center mt-4">
    <a class="btn btn-xl btn-info" routerLink="/">
        VOLTAR
    </a>
</div>
<section class="logo" id="logo">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Nossa Logo</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-12">
            <img class="img-fluid" src="assets/img/logo.png" alt="Logo">
            <br> <br>
            <p class="lead" align="justify">Nosso logo representa o Bom Pastor, que está presente no nome da Instituição desde sua fundação, de mãos dadas com duas crianças, uma do sexo masculino e outra do sexo feminino representando a diversidade de gêneros. As três figuras unidas pelas mãos dadas, formam juntamente com o retângulo que possui as iniciais da instituição, uma casa. Essa imagem simboliza os valores que a Creche Bom Pastor possui e seu compromisso com as crianças de oferecer um ambiente seguro, de carinho e afeto como se fosse um segundo lar. O logo possui ainda duas cores: vermelho e azul. A cor vermelha simboliza a cor do coração humano e por sua vez o amor: o sentimento que deve prevalecer em todas as atitudes da instituição. A cor azul representa a tranquilidade, a serenidade e a harmonia, três características que não podem faltar ao ambiente da Instituição para garantir o melhor para às crianças.</p>
          </div>
        </div>
    </div>
</section>