<div class="text-center mt-4">
    <a class="btn btn-xl btn-info" routerLink="/">
        VOLTAR
    </a>
</div>
<section class="historico" id="historico">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Nossa História</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-12">
              <img class="img-fluid" src="assets/img/historico.png" alt="História">
          </div>
        </div>
    </div>
</section>