<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="assets/img/logo.png" alt="" height="50">
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#creche">A Creche</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#atendimento">Atendimento</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contato</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/noticias">Notícias</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/eventos">Eventos</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/colaboradores">Colaboradores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">Creche Bom Pastor</h1>
        <hr class="star-light">
        <p class="lead" align="justify">A Creche Bom Pastor (CBP ou Creche BP) foi fundada em 1984 e oferece a Educação Infantil que segundo o artigo 29
            da LDB é a primeira etapa da educação básica, tendo como finalidade o desenvolvimento integral da criança até
            seis anos de idade em seus aspectos físico, psicológico, intelectual e social complementando a ação da família
            e da comunidade em ampliar as experiências da criança através do domínio das diversas linguagens, estimulando
            o interesse pelo processo de conhecimento do mundo. Realizamos o atendimento de cerca de 90 crianças por ano,
            entre 1 ano e 6 meses a 6 anos de idade por período integral. Oferecemos educação, alimentação, carinho, afeto,
            cultura, arte, lazer e um ambiente que garante conforto e saúde às crianças. Somos uma instituição de direito
            privado, fundada pela Ação Social da Paróquia Bom Pastor, sem fins lucrativos, sem mantenedora que se mantém
            através de recursos do convênio que possui com a Prefeitura de Belo Horizonte e através da captação de recursos
            com doadores, eventos, bazar e produtos solidários.</p>
        <br>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h4 class="text-uppercase mb-4">Nossa Missão</h4>
                <p class="lead" align="justify">Atender as crianças da Comunidade Dom Cabral e adjacências, contribuindo na formação de indivíduos, protagonistas
                    da sua história, através da educação e do amor.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <h4 class="text-uppercase mb-4">Nossa Visão</h4>
                <p class="lead" align="justify">Ampliar o atendimento para as crianças e jovens da comunidade Dom Cabral e adjacências, oferecendo com amor
                    uma educação de qualidade que contribua para a transformação social</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <h4 class="text-uppercase mb-4">Valores</h4>
                <p class="lead" align="justify">Educação, cuidado, afeto, diversidade, Inclusão, autonomia, protagonismo, ética, profissionalismo, dedicação,
                    união.
                </p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <a routerLink="/historico">
                    <h4 class="text-uppercase mb-4">Nossa História</h4>
                </a>
            </div>
            <div class="col-lg-4 mr-auto">
                <a routerLink="/logo">
                    <h4 class="text-uppercase mb-4">Nossa Logo</h4>
                </a>
            </div>
            <div class="col-lg-4 mr-auto">
                <a routerLink="/turminha">
                    <h4 class="text-uppercase mb-4">Turminha CBP</h4>
                </a>
            </div>
        </div>
    </div>
</header>

<!-- Creche Grid Section -->
<section class="portfolio" id="creche">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">A CRECHE</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <a href="https://pagseguro.uol.com.br/integracao/botoes_de_pagamento.jhtml#doar" target="_blank"><img class="img-fluid" src="assets/img/doeagora.png" alt=""></a>
            </div>
            <div class="col-md-6 col-lg-6">
                <a href="http://opolen.com.br/apoie/#/conectar/crechebp/" target="_blank"><img class="img-fluid" src="assets/img/apoiecomsuascompras.png" alt="" style="float:right;"></a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto1.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Turminha do Maternal III</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto2.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Turminha do Maternal I</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto3.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Nossas Coordenadoras</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto4.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Profissionais Capacitadas</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto5.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Acompanhamento na Saúde</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto6.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Oficina de linguagem digital</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto7.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Almoço</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto8.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Nossas Cozinheiras</h6>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto">
                    <img class="img-fluid" src="assets/img/foto9.jpg" alt="">
                    <h6 class="text-uppercase mb-4" style="margin-top:10px;">Café da Manhã</h6>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Atendimento Section -->
<section class="bg-primary text-white mb-0" id="atendimento">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Atendimento</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Atendemos crianças de 1 ano e 6 meses até 6 anos de idade. Hoje possuímos 5 turmas que se dividem em Maternal
                    I, Maternal II, Maternal III, 1º e 2º Período. As salas são espaçosas proporcionando um ambiente tranquilo
                    e harmonioso para as crianças.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">A Creche Bom Pastor oferece quatro refeições diárias: café da manhã, almoço, colação e jantar.
                    <br>
                    <br> Todas as refeições são baseadas em um cardápio leve e equilibrado, construído por nutricionistas da
                    PBH, livre de excessos de gorduras, frituras, doces e sal.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Atendimento psicológico para crianças e familiares - A Creche Bom Pastor está sempre em busca de voluntários
                    para oferecer às crianças e em alguns casos familiares, o atendimento psicológico.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Fale Conosco</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form (ngSubmit)="onSubmit()" [formGroup]="formulario">
                    <h4 class="text-uppercase text-secondary mb-4">Assunto</h4>
                    <div class="control-group">
                        <div class="form-group">
                            <select formControlName="subject" class="form-control" id="subject" type="text" required="required">
                                <option value="M" selected>Mensagem</option>
                                <option value="T">Trabalhe Conosco</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nome</label>
                            <input formControlName="name" class="form-control" id="name" type="text" placeholder="Nome" required="required" data-validation-required-message="Digite o seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email</label>
                            <input  formControlName="email" class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Digite o seu email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mensagem / Apresentação</label>
                            <textarea formControlName="message" class="form-control" maxlength="500" id="message" rows="5" placeholder="Mensagem / Apresentação" required="required" data-validation-required-message="Digite a sua mensagem."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Endereço</h4>
                <p class="lead mb-0">Praça da comunidade, 94 - Dom Cabral
                    <br>Belo Horizonte, MG</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Facebook</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/cbp.domcabral" target="_blank">
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">Contatos</h4>
                <p class="lead mb-0">Telefone: (31) 3375-6194</p>
                <p class="lead mb-0">Email:
                    <a href="mailto:crechebp@crechebp.org.br">crechebp@crechebp.org.br</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; 2017 Creche Bom Pastor</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>